In [1]:
import pandas as pd
import numpy as np

In [2]:
location = "diamonds.csv"
df = pd.read_csv(location)

In [3]:
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [4]:
location2 = "diamonds.csv"
df_nohead = pd.read_csv(location2, header = None)
df_nohead.head()

    0      1        2      3        4      5      6      7     8     9     10
0  NaN  carat      cut  color  clarity  depth  table  price     x     y     z
1  1.0   0.23    Ideal      E      SI2   61.5     55    326  3.95  3.98  2.43
2  2.0   0.21  Premium      E      SI1   59.8     61    326  3.89  3.84  2.31
3  3.0   0.23     Good      E      VS1   56.9     65    327  4.05  4.07  2.31
4  4.0   0.29  Premium      I      VS2   62.4     58    334   4.2  4.23  2.63

In [5]:
df2 = df[['cut','color','price']]
df2.head()

       cut color  price
0    Ideal     E    326
1  Premium     E    326
2     Good     E    327
3  Premium     I    334
4     Good     J    335

In [6]:
df2.columns

Index(['cut', 'color', 'price'], dtype='object')

In [7]:
df.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [8]:
df.groupby ('depth')

In [9]:
df['price'].groupby (df['carat']).mean()

carat
0.20      365.166667
0.21      380.222222
0.22      391.400000
0.23      486.143345
0.24      505.185039
0.25      550.924528
0.26      550.897233
0.27      574.759657
0.28      580.121212
0.29      601.192308
0.30      680.301843
0.31      708.235660
0.32      720.144022
0.33      765.731707
0.34      756.380220
0.35      800.676162
0.36      781.381119
0.37      816.071066
0.38      904.441791
0.39      922.331658
0.40      932.784450
0.41      973.627352
0.42      994.444759
0.43      995.192623
0.44     1056.622642
0.45     1093.318182
0.46     1237.533708
0.47     1272.313131
0.48     1322.047619
0.49     1306.333333
            ...
2.64    17407.000000
2.65    16314.000000
2.66    16991.000000
2.67    18686.000000
2.68     9042.000000
2.70    14341.000000
2.71    17146.000000
2.72    12088.333333
2.74    14385.000000
2.75    14285.500000
2.77    10424.000000
2.80    16909.000000
3.00    12378.500000
3.01    15910.285714
3.02    10577.000000
3.04    16956.500000
3.05    10453.000000
3.11     9823.000000
3.22    12545.000000
3.24    12300.000000
3.40    15964.000000
3.50    12587.000000
3.51    18701.000000
3.65    11668.000000
3.67    16193.000000
4.00    15984.000000
4.01    15223.000000
4.13    17329.000000
4.50    18531.000000
5.01    18018.000000
Name: price, Length: 273, dtype: float64

In [11]:
df.head(20)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39
10,11,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73
11,12,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46
12,13,0.22,Premium,F,SI1,60.4,61.0,342,3.88,3.84,2.33
13,14,0.31,Ideal,J,SI2,62.2,54.0,344,4.35,4.37,2.71
14,15,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27
15,16,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68
16,17,0.30,Ideal,I,SI2,62.0,54.0,348,4.31,4.34,2.68
17,18,0.30,Good,J,SI1,63.4,54.0,351,4.23,4.29,2.70
18,19,0.30,Good,J,SI1,63.8,56.0,351,4.23,4.26,2.71
19,20,0.30,Very Good,J,SI1,62.7,59.0,351,4.21,4.27,2.66

In [14]:
df.loc[0:3]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63

In [26]:
#missing = df_missing['color'].isnull()
#df_missing.loc[missing]
df[(df['color'].isnull())& df['clarity'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, carat, cut, color, clarity, depth, table, price, x, y, z]
Index: []

In [28]:
df['clarity'].notnull()

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29       True
         ...
53910    True
53911    True
53912    True
53913    True
53914    True
53915    True
53916    True
53917    True
53918    True
53919    True
53920    True
53921    True
53922    True
53923    True
53924    True
53925    True
53926    True
53927    True
53928    True
53929    True
53930    True
53931    True
53932    True
53933    True
53934    True
53935    True
53936    True
53937    True
53938    True
53939    True
Name: clarity, Length: 53940, dtype: bool

In [31]:
df.[(df['color'].isnull()) & df['clarity'].isnull()]

SyntaxError: invalid syntax (<ipython-input-31-ad99b8efe955>, line 1)